<h2 mat-dialog-title>
    Détails commune
    <button mat-mini-fab color="primary" (click)="openHelp()" matTooltip="Afficher l'aide. [Raccourci : shift+a]">
        <mat-icon>live_help</mat-icon>
    </button>
</h2>
<mat-dialog-content>
    <h3>
        {{ city.insee }} - {{ city.name }}
        <a href="https://www.openstreetmap.org/relation/{{ osmID }}" target="_blank">
            <mat-icon>link</mat-icon>
        </a>
    </h3>
    {{ lastImport }}

    <apx-chart
        *ngIf="(city.details?.dates | count) > 0"
        [labels]="city.details.dates | keyvalue | map: 'key' | legend | any"
        [series]="city.details.dates | keyvalue | map: 'value' | any"
        [colors]="city.details.dates | keyvalue | map: 'key' | legend: 'color' | any"
        [chart]="{ type: 'donut', height: 300 }"
        [legend]="{ position: 'bottom' }"
        [title]="{ text: 'Nombre de bâtiments par date d\'import', align: 'center' }"
    ></apx-chart>

    <div *ngIf="(city.details?.simplified | count) > 0">
        <h4>
            {{ city.details.simplified | count }} Bâtiments simplifiés
            <a href="" (click)="editNodes(city.details.simplified)">
                <mat-icon svgIcon="josm"></mat-icon>
            </a>
        </h4>
        <ul>
            <li class="li-simplified" *ngFor="let i of city.details.simplified | sorted">
                <span>{{ i }}</span>
                <a href="https://www.openstreetmap.org/node/{{ i }}" target="_blank">
                    <mat-icon svgIcon="osm"></mat-icon>
                </a>
                <a href="" (click)="editNodes([i])">
                    <mat-icon svgIcon="josm"></mat-icon>
                </a>
            </li>
        </ul>
    </div>

    <div *ngIf="moreRecentDate">La date d'import du bâti a été mise à jour !<br /></div>
</mat-dialog-content>
<mat-dialog-actions class="row-wrapper">
    <button mat-raised-button cdkFocusInitial mat-dialog-close matTooltip="Ferme la popup. [Raccourci : F]">
        Fermer
    </button>
    <button
        *ngIf="isCityIgnored(); else ignoreButton"
        mat-raised-button
        (click)="toggleIgnoreCity()"
        matTooltip="Réafficher cette commune de la carte. [Raccourci : I]"
    >
        Réafficher
    </button>
    <ng-template #ignoreButton>
        <button
            mat-raised-button
            (click)="toggleIgnoreCity()"
            matTooltip="Masquer cette commune de la carte. [Raccourci : I]"
        >
            Ignorer
        </button>
    </ng-template>
    <mat-bar-button
        [options]="updateButtonOpts"
        (click)="updateCity()"
        matTooltip="Rafraîchit les statistiques de la commune. [Raccourci : R]"
    ></mat-bar-button>
    <app-josm-button
        [city]="city"
        [osmID]="osmID"
        [josmReady]="josmIsStarted | async"
        (newerDate)="cityDateChanged($event)"
    ></app-josm-button>
</mat-dialog-actions>
